.App {
  text-align: center;
}

body, .background {
  font-size: 12px !important;
  font-weight: 500;
  font-family: 'roboto mono';
  background-color: #fdf6e3;
}

td {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

tr {
  vertical-align: middle;
  /* border: 2px solid transparent; */
}

tr:hover td {
  /* border-top: 1px solid #333;
  border-bottom: 1px solid #333; */
  background-color: #839496;
}

.btn {
  margin-bottom: 0px;
  line-height: 25px;
  height: 25px !important;
  font-size: 12px !important;
  border: 0px;
  padding: 0px 10px;
  min-width: 100px;
  color: white !important;
}

input.small {
  padding: 0px 10px !important;
  height: 2.4em !important;
  line-height: 2.5em;
  width: 80px !important;
  margin-bottom: 0px;
}

.back {
  background-color: #333;
  margin-right: 5px;
  min-width: 50px !important;
}

.NotStarted {
  /* background-color: #6c757d; */
  background-color: #839496;
}

.Started {
  /* background-color: #0d6efd; */
  background-color: #cb4b16;

}

.Lapped {
  background-color: #6c71c4;
}

.Finished {
  /* background-color: #198754; */
  background-color: #d33682;

}